.content{
    /* border: 2px solid green; */
    width: 50%;
    height: 15vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 2rem;
    margin-top: 2rem;
}
.content p{
    font-size: 0.75rem;
    margin-top: 7px;
}
@media only screen and (max-width: 430px){
    .content{
        /* border: 2px solid black; */
        width: 350px;
        padding: 0;
    }
    .content p{
        font-size: 1rem;
    }
}